@import "@/app/styles/variables.scss";

.root {
  margin: 0 auto;
  width: 92%;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &__content {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }

  &__info {
    display: flex;
    align-items: center;

    &-text {
      font-weight: 500;
    }

    @include media(base) {
      width: 100%;
      justify-content: space-between;
    }

    @include media(md) {
      width: 40%;
      justify-content: flex-end;
      gap: 16px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(md) {
      justify-content: flex-end;
      gap: 20px;
    }
  }
  &__select {
    font-weight: 500;
    font-size: 16px;
  }
}
