.schedule {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 100px 0 35px 0;
  margin: 0 auto;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 3px;
  &__timeline {
    display: flex;
    gap: 0.5rem;
    &-stub {
      width: 72px;
    }
    &-part {
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      &-line {
        width: 2px;
        height: 20px;
      }
    }
  }
}
