.navbar {
  position: absolute;
  bottom: 20px;
  width: clamp(340px, 90%, 1000px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #3182ce;
  padding: 3px 25px;
  border-radius: 15px;
}
