@import "@/app/styles/variables.scss";

.root {
  padding: 5px !important;

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: clamp(16px, 4vw, 18px);
    width: clamp(40px, 4.5vw, 50px);
  }

  &__current {
    border-radius: 8px;
  }

  @include media(md) {
    padding: 10px !important;
  }
}
