@import "@/app/styles/variables.scss";

.root {
  width: 95%;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  align-self: center;

  &-none {
    display: none !important;
  }

  @include media(md) {
    width: 60%;
    padding: 0;
  }
}
