@import "../../app/styles/variables.scss";

.root {
  display: flex !important;
  flex-direction: column;
  padding: 10px 0 30px 0;
  height: 92%;

  &__swiper {
    width: 100%;
  }

  &__slide {
    width: 100%;
  }
}
