.noteCard {
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease, grid-column 0.3s ease;
    opacity: 1;
  }

  .noteCard.active {
    opacity: 1;
    transform: translateY(-5px);
  }
  
  .noteCard.inactive {
    opacity: 0.9;
  }
  