.teachers{
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    height: 90%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 0px 0px 40px 0px;
}