.schedule {
  display: flex;
  flex-direction: column;
  padding: 110px 0 90px 0;
}

.day {
  display: flex;
  flex-direction: column;
  &__timeline {
    display: flex;
    gap: 0.5rem;
    &-stub {
      width: 72px;
    }
    &-part {
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      &-line {
        width: 2px;
        height: 20px;
      }
    }
  }
}
