@import "@/app/styles/variables.scss";

.hidden {
  width: 95%;
  margin: 0 auto;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 20px 0;
  height: 85dvh;

  @include media(md) {
    height: 92dvh;
  }
}

.tabs {
  display: flex !important;
  flex-direction: column;
}

.root {
  &__swiper {
    width: 100%;
  }

  &__slide {
    width: 100%;
    min-height: 65dvh !important;
    overflow: scroll;
    scrollbar-width: none;
    cursor: grab;
  }
}