.account {
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  &__header {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 300px;
  }
  &__user-actions {
    position: absolute;
    top: 275px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    box-shadow: 0 0 5px 2px #00000020;
    border-radius: 8px;
  }
  &__account-actions {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 2px #00000020;
    border-radius: 8px;
  }
}
