@import "@/app/styles/variables.scss";

.about {
  width: 90%;
  margin: 0 auto;
  height: 95dvh;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 20px 0;

  @include media(md) {
    height: 100dvh;
  }
}